body {
color : #000000;
background-color : #eae2c8;
font-family : Verdana, sans-serif;
font-size : 4mm;
position : absolute;
left : 55mm;
}
a:link {
text-decoration : none;
color : #505050;
}
a:visited {
text-decoration : none;
color : #f5f5ff;
}
a:hover {
text-decoration : none;
color : #0000ff;
}
a:active {
text-decoration : none;
color : #054d27;
}
.bold {
font-weight : bold; 
}
.block {
color : #696969;
background-color : #eae2c8;
}

.braces {
font-size : 4.5mm;
position : relative;
color : #e10034;
background-color : #eae2c8;
top : -3px;
}

.briefcase {
z-index : 2;
position : fixed;
max-width : 10mm;
max-height : 10mm;
right : 2mm;
top : 32mm;
border : 0.5mm solid gray;
padding : 1mm;
background-color : #f5f5dc;
font-family : Verdana, sans-serif;
font-size : 3.7mm;
}
.c
{background-color : #eae2c8;
font-family : Verdana, sans-serif;
}

.cap2
{float : left; 
margin-top : -3px; 
margin-right : 3px; 
color : #000000; 
font-size : 10.3mm; 
height : 1em; 
font-weight : bold; 
font-family : Times,serif;
}

.cap3
{float : left; 
margin-top : -9px; 
margin-right : 3px; 
color : #000000; 
font-size : 16mm; 
height : 1em; 
font-weight : bold; 
font-family : Times,serif;
}

.cap4 
{float : left; 
margin-top : -9px; 
margin-right : 3px; 
color : #000000; 
font-size : 21mm; 
height : 1em; 
font-weight : bold; 
font-family : Times,serif;
}

.cap5 
{float : left; 
margin-top : -19px; 
margin-right : 3px; 
color : #000000; 
font-size : 27mm; 
height : 1em; 
font-weight : bold; 
font-family : Times,serif;
}

.cb
{font-size : 3.5mm;
}

.inset {
position: absolute; 
left:5mm;
}

.center {
position: absolute; 
left: 16mm;
}
.raligned {
position: absolute; 
left: 40mm;
}

.div4 {
font-family : courier;
}

.dropcap {
margin-top : 0;
color : black;
background-color : #eae2c8;
padding-top : 0.2em;
font-size : 36pt;
height : 1em;
font-weight : bold;
font-family : Times, serif;
}

.emph {
font-weight : bold;
}

.add {
color : #000000;
background-color : #f5f5f5;
}

.centred {
position: absolute; 
left: 20mm;
}

.corr {
color : #000000;
background-color : #fff5ee;
}

.expan {
font-weight : bold; 
}

.expunctuate {
text-decoration : line-through;
border-bottom : 1.1mm dotted black;
}

.frontmatter {
z-index : 2;
position : fixed;
max-width : 300mm;
max-height : 150mm;
overflow : scroll;
left : 2mm;
right : 2mm;
top : 2mm;
border : 0.5mm solid gray;
padding : 1mm;
color : #000000;
background-color : #ffffff;
font-family : Verdana, sans-serif;
font-size : 4mm;
white-space : normal;
}

.gloss {
}

.glossing {
z-index : 2;
position : fixed;
max-width : 80mm;
max-height : 60mm;
overflow : scroll;
right : 2mm;
top : 2mm;
border : 0.5mm solid gray;
padding : 1mm;
background-color : #f5f5dc;
font-family : Verdana, sans-serif;
font-size : 3.7mm;
}

.greyout {
color : #808080;
background-color : #eae2c8;
}

.group {
font-family : Verdana, sans-serif;
font-weight : bold;
font-size : 3.0mm;
color : #404040;
background-color : #eae2c8;
position : absolute;
left : -10mm;
}

.headline {
font-weight : bold; 
font-size : 4.5mm;
left : 10mm;
}

.inset {
position: absolute; 
left: 10mm;
}

.italic {
font-style : italic;
}

.num {
font-family : Verdana, sans-serif;
font-size : 3.3mm;
color : #404040;
background-color : #eae2c8;
position : absolute;
left : 108mm;
}

.larger {
font-size : 4.3mm;
}

.lb {
font-family : Verdana, sans-serif;
font-size : 3.0mm;
color : #404040;
background-color : #eae2c8;
position : absolute;
left : -45mm;
}

.lg {
color : #000000;
background-color : #eae2c8;
white-space : pre; 
}

.lv {
position : absolute;
left : 160mm;
font-size : 3.1mm;
}

.msdesc {
font-size : 3.9mm;
}

.n {
color : #696969;
background-color : #eae2c8;
font-family : Verdana, sans-serif;
font-size : 2.8mm;
position : absolute;
left : 108mm;
}

.name {
font-size : 4mm;
}

.note {
color : #eae2c8;
background-color : #eae2c6;
font-family : Verdana, Arial, sans-serif;
font-size : 0;
}

.noted {
z-index : 2;
position : fixed;
max-width : 90mm;
max-height : 60mm;
overflow : auto;
right : 2mm;
top : 10mm;
border : 0.5mm solid gray;
padding : 1mm;
color : #ffffff;
background-color : #a00000;
font-weight : bold; 
font-family : Verdana, sans-serif;
font-size : 3.7mm;
}

.numero {
color : #808080;
font-family : Verdana;
font-size : 2.1mm;
}

.overstrike {
text-decoration : line-through;
}

.overline {
text-decoration : overline;
}

.p {
max-width : 500px;

}

.para {
white-space : normal; 
}

pre {
font-family : Verdana, sans-serif;
}

.purple {
color : #800080;
background-color : #eae2c8;
font-family : Verdana, Arial, sans-serif;
font-size : 4.1mm;
}

.rubric {
color : #e10034;
background-color : #eae2c8;
font-family : Verdana, Arial, sans-serif;
font-size : 4.1mm;
}

.s {
font-size : 6.1mm;
font-family : "Brush Script MT", sans-serif;
}

.smaller {
font-size : 3.1mm;
position: absolute; 
}

.smallercentred {
font-size : 3.1mm;
position: absolute;
left: 20mm;
}
.speaker {
font-variant : small-caps;
color : #a52a2a;
background-color : #eae2c8;
font-family : Verdana, Arial, sans-serif;
font-size : 4.1mm;
line-height: 1.5mm; 
}

.supplied {
color : #808080;
background-color : #fff5ee;
font-family : Verdana, sans-serif;
font-size : 4mm;
}

.rubricsupplied {
color : #808080;
background-color : #fff5ee;
font-family : Verdana, sans-serif;
font-size : 4mm;
}

.suprasupplied {
color : #808080;
background-color : #fff5ee;
font-family : Verdana, serif;
font-size : 3.0mm;
vertical-align: 35%;
}

.suprablack {
color : #000000;
background-color : #eae2c8;
font-family : Verdana, serif;
font-size : 3.0mm;
vertical-align: 35%;
}

.suprared {
color : #e10034;
background-color : #eae2c8;
font-family : Verdana, serif;
font-size : 3.0mm;
vertical-align: 35%;
}

.suprapurple {
color : #800080;
background-color : #eae2c8;
font-family : Verdana, serif;
font-size : 3.0mm;
vertical-align: 35%;
}

.tiny {
color : green;
background-color : #eae2c8;
font-family : Verdana, sans-serif;
font-size : 1.7mm;
}

.title {
font-style : italic;
}
